body{
		background: radial-gradient(circle, #85AEEF 0%, #7A72E8 100%);
		color: #fff !important;
}

 
.flex-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 45px 45px 0;
}

.qvplaceholder, .qvobject {
	flex: 1 1 auto;
	height: 300px;
	min-width: 400px;
	margin: 45px 0 0 45px;
}

#popup {
	background-color: #c3534b;
	color: #FFFFFF;
	position: fixed;
	max-width: 250px;
	padding: 10px;
	margin: 10px;
	bottom: 0;
	right: 0;
	display: none;
	border-radius: 5px;
	z-index: 6;
	font-family: sans-serif;
}

.close {
	cursor: pointer;
	background: 0 0;
	border: 0;
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
	position: absolute;
	right: 9px;
	top: 7px;
}

.close:hover {
	opacity: .5;
}

#popupText {
	margin-right: 23px;
}


.amarelo {
	background-color: yellow;
}

.vermelho{
	background-color: red;
}

.azul{
	background-color: #0000FF;
}

.altura_400{
	height: 400px;
}

.kpi_l1, .kpi_l2{
	font-size: 18px;
    line-height: 22px;
	padding: 5px 0px;
} 

.kpi_l2_n{
	font-size: 18px;
    line-height: 22px;
	text-align: left;
	padding: 12px 0px;
}

.kpi_22_n{
	font-size: 14px;
    line-height: 14px;
	text-align: left;
	padding: 5px 0px;
}

.kpi_l2_s{
	font-size: 18px;
    line-height: 22px;
	text-align: right;
	padding: 12px 0px;
}

.kpi_22_s{
	font-size: 14px;
    line-height: 14px;
	text-align: right;
	padding: 5px 0px;
}

.linha_kpi{
	justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    transition: width .6s ease;
}


.linha_1{
	margin-top: 25px;
}

.fundo_preto{
	background-color: rgba(0,0,0,.2);
}

.card_1{
	width: 20% !important;
}

.borda_direita{
	border-right: 1px solid rgba(255, 255, 255, 0.12);
}

    /* background-color: rgba(0,0,0,.2);