// Vars
$green: #15d1b5;
$green2: #15d188;
$pink: #fd416a;
$pink2: #fd41b4;
$yellow: #fea700;
$yellow2: #fe5a00;
$blue: #1657e8;
$blue2: #16a5e8;
$fontDIN: 'DIN Condensed';

@mixin anima {
    -webkit-transition: all 500ms cubic-bezier(0.000, 0.000, 0.380, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.000, 0.000, 0.380, 1.000);
    -o-transition: all 500ms cubic-bezier(0.000, 0.000, 0.380, 1.000);
    transition: all 500ms cubic-bezier(0.000, 0.000, 0.380, 1.000);
}

@mixin animaExpo {
    -webkit-transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

@mixin gradienteBranco {
    background: #ffffff;
    background: -moz-radial-gradient(center, ellipse cover, hsl(0, 0%, 100%) 1%, hsl(0, 0%, 77%) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, hsl(0, 0%, 100%) 1%, hsl(0, 0%, 77%) 100%);
    background: radial-gradient(ellipse at center, hsl(0, 0%, 100%) 1%, hsl(0, 0%, 77%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c5c5c5', GradientType=1);
}

@mixin gradienteVerde {
    background: #15d1b5;
    background: -moz-linear-gradient(left, hsl(171, 82%, 45%) 0%, hsl(157, 82%, 45%) 100%);
    background: -webkit-linear-gradient(left, hsl(171, 82%, 45%) 0%, hsl(157, 82%, 45%) 100%);
    background: linear-gradient(to right, hsl(171, 82%, 45%) 0%, hsl(157, 82%, 45%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#15d1b5', endColorstr='#15d188', GradientType=1);
}

@mixin gradienteRosa {
    background: #fd416a;
    background: -moz-linear-gradient(left, hsl(347, 98%, 62%) 0%, hsl(323, 98%, 62%) 100%);
    background: -webkit-linear-gradient(left, hsl(347, 98%, 62%) 0%, hsl(323, 98%, 62%) 100%);
    background: linear-gradient(to right, hsl(347, 98%, 62%) 0%, hsl(323, 98%, 62%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd416a', endColorstr='#fd41b4', GradientType=1);
}

@mixin gradienteLaranja {
    background: #fea700;
    background: -moz-linear-gradient(left, hsl(39, 100%, 50%) 0%, hsl(21, 100%, 50%) 100%);
    background: -webkit-linear-gradient(left, hsl(39, 100%, 50%) 0%, hsl(21, 100%, 50%) 100%);
    background: linear-gradient(to right, hsl(39, 100%, 50%) 0%, hsl(21, 100%, 50%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fea700', endColorstr='#fe5a00', GradientType=1);
}

@mixin gradienteAzul {
    background: #1657e8;
    background: -moz-linear-gradient(left, hsl(221, 83%, 50%) 0%, hsl(199, 83%, 50%) 100%);
    background: -webkit-linear-gradient(left, hsl(221, 83%, 50%) 0%, hsl(199, 83%, 50%) 100%);
    background: linear-gradient(to right, hsl(221, 83%, 50%) 0%, hsl(199, 83%, 50%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1657e8', endColorstr='#16a5e8', GradientType=1);
}

body {
    background: #f9fafc;
    color: #333;
    font-family: 'Open Sans';
    overflow-x: hidden;
    @include anima();

    &.ativo {
        opacity: 1 !important;
    }
}

* {
    outline: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-wr {
    flex-wrap: wrap;
}

.flex-ch {
    justify-content: center;
}

.flex-ri {
    justify-content: flex-end;
}

.flex-bv {
    align-items: flex-end;
}

.flex-le {
    justify-content: flex-start;
}

.flex-sp {
    justify-content: space-between;
}

.flex-sa {
    justify-content: last-baseline;
    padding-top: 50px;
}

.flex-cv {
    align-items: center;
}

.h-100 {
    height: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.ico {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
}

.barra {
    float: left;
    width: 100%;
}

.cover {
    background-size: cover !important;
}

header {
    background: #fff;
    padding: 15px;

    img {
        width: 40px;
    }

    .b-menu {
        display: block;
        height: 30px;
        width: 40px;
        cursor: pointer;

        i {
            background: #000 none repeat scroll 0 0;
            display: block;
            height: 2px;
            margin-bottom: 12px;
            width: 100%;

            &:last-child {
                margin: 0;
            }
        }
    }
}

nav {
    background: rgba(0, 0, 0, 0) url("../images/bg-menu.png") no-repeat scroll center center;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    @include anima();

    &.ativo {
        opacity: 1;
        visibility: visible;

        .meio {
            height: 190px;
            left: calc(50% - 95px);
            top: calc(50% - 95px);
            width: 190px;

            i {
                height: 80px;
                left: calc(50% - 40px);
                transform: scale(1.2);
                top: calc(50% - 40px);
                width: 80px;
            }

            a {
                height: 80px;
                left: calc(50% - 40px);
                top: calc(50% - 40px);
                width: 80px;

                img {
                    left: calc(50% - 15px);
                    top: calc(50% - 15px);
                    opacity: 1;
                    transform: rotate(360deg);
                }
            }
        }

        >a {
            &:hover, &.ativo {
                &::before {
                    transform: scale(1.5);
                }
            }

            &::before {
                @include gradienteVerde();
                border-radius: 100%;
                content: "";
                height: 60px;
                left: 10px;
                position: absolute;
                top: 3px;
                transform: scale(0.5);
                width: 60px;
                z-index: -1;
                @include animaExpo();
            }

            &:nth-child(2) {
                margin-left: 0;
                margin-top: -281px;
                opacity: 1;

                h2 {
                    opacity: 1;
                }
            }

            &:nth-child(3) {
                margin-left: 137px;
                margin-top: -245px;
                opacity: 1;

                h2 {
                    opacity: 1;
                }
            }

            &:nth-child(4) {
                margin-left: 243px;
                margin-top: -140px;
                opacity: 1;

                h2 {
                    opacity: 1;
                }
            }

            &:nth-child(5) {
                margin-left: 279px;
                margin-top: 0;
                opacity: 1;

                h2 {
                    opacity: 1;
                }
            }

            &:nth-child(6) {
                margin-left: 242px;
                margin-top: 135px;
                opacity: 1;

                h2 {
                    opacity: 1;
                }
            }

            &:nth-child(7) {
                margin-left: 135px;
                margin-top: 239px;
                opacity: 1;

                h2 {
                    opacity: 1;
                }
            }

            &:nth-child(8) {
                margin-left: 0;
                margin-top: 275px;
                opacity: 1;

                h2 {
                    opacity: 1;
                }
            }

            &:nth-child(9) {
                margin-left: -142px;
                margin-top: 235px;
                opacity: 1;

                h2 {
                    opacity: 1;
                }
            }

            &:nth-child(10) {
                margin-left: -242px;
                margin-top: 134px;
                opacity: 1;

                h2 {
                    opacity: 1;
                }
            }

            &:nth-child(11) {
                margin-left: -278px;
                margin-top: 0;
                opacity: 1;

                h2 {
                    opacity: 1;
                }
            }

            &:nth-child(12) {
                margin-left: -243px;
                margin-top: -140px;
                opacity: 1;

                h2 {
                    opacity: 1;
                }
            }

            &:nth-child(13) {
                margin-left: -139px;
                margin-top: -243px;
                opacity: 1;

                h2 {
                    opacity: 1;
                }
            }
        }
    }

    .meio {
        background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
        border-radius: 100%;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
        height: 0;
        left: calc(50%);
        position: absolute;
        top: calc(50%);
        width: 0;
        overflow: hidden;
        @include animaExpo();

        &:hover {
            i {
                transform: scale(2);
            }
        }

        i {
            @include gradienteVerde();
            display: block;
            height: 0;
            left: calc(50%);
            position: absolute;
            border-radius: 100%;
            transform: scale(1);
            top: calc(50%);
            width: 0;
            overflow: hidden;
            @include animaExpo();
            transition-delay: 100ms;
            @include animaExpo();
        }

        a {
            background: rgba(0, 0, 0, 0) url("../images/bt-fechar.png") no-repeat center center / 100% auto;
            display: block;
            height: 0;
            left: calc(50%);
            position: relative;
            top: calc(50%);
            width: 0;
            overflow: hidden;
            @include animaExpo();
            transition-delay: 200ms;

            img {
                left: calc(50% - 15px);
                position: relative;
                top: calc(50% - 15px);
                opacity: 0;
                transform: rotate(0);
                @include animaExpo();
                transition-delay: 300ms;
            }
        }
    }

    >a {
        height: 80px;
        left: calc(50% - 40px);
        position: absolute;
        top: calc(50% - 30px);
        width: 80px;

        &:nth-child(2) {
            margin-left: 0;
            margin-top: -250px;
            opacity: 0;
            @include animaExpo();
            transition-delay: 400ms;

            h2 {
                left: -22px;
                text-align: right;
                top: 56px;
                transform: rotate(-90deg);
                opacity: 0;
                @include animaExpo();
                transition-delay: 500ms;
            }
        }

        &:nth-child(3) {
            margin-left: 117px;
            margin-top: -215px;
            opacity: 0;
            @include animaExpo();
            transition-delay: 450ms;

            h2 {
                left: -81px;
                text-align: right;
                top: 39px;
                transform: rotate(-59deg);
                opacity: 0;
                @include animaExpo();
                transition-delay: 550ms;
            }
        }

        &:nth-child(4) {
            margin-left: 197px;
            margin-top: -118px;
            opacity: 0;
            @include animaExpo();
            transition-delay: 500ms;

            h2 {
                left: -117px;
                text-align: right;
                top: -1px;
                transform: rotate(-32deg);
                opacity: 0;
                @include animaExpo();
                transition-delay: 600ms;
            }
        }

        &:nth-child(5) {
            margin-left: 230px;
            margin-top: 0;
            opacity: 0;
            @include animaExpo();
            transition-delay: 550ms;

            h2 {
                left: -130px;
                text-align: right;
                top: -54px;
                transform: rotate(0deg);
                opacity: 0;
                @include animaExpo();
                transition-delay: 650ms;
            }
        }

        &:nth-child(6) {
            margin-left: 198px;
            margin-top: 110px;
            opacity: 0;
            @include animaExpo();
            transition-delay: 600ms;

            h2 {
                left: -112px;
                text-align: right;
                top: -113px;
                transform: rotate(37deg);
                opacity: 0;
                @include animaExpo();
                transition-delay: 700ms;
            }
        }

        &:nth-child(7) {
            margin-left: 99px;
            margin-top: 180px;
            opacity: 0;
            @include animaExpo();
            transition-delay: 650ms;

            h2 {
                left: -72px;
                text-align: right;
                top: -149px;
                transform: rotate(61deg);
                opacity: 0;
                @include animaExpo();
                transition-delay: 750ms;
            }
        }

        &:nth-child(8) {
            margin-left: 0;
            margin-top: 210px;
            opacity: 0;
            @include animaExpo();
            transition-delay: 700ms;

            h2 {
                left: -21px;
                text-align: right;
                top: -162px;
                transform: rotate(90deg);
                opacity: 0;
                @include animaExpo();
                transition-delay: 800ms;
            }
        }

        &:nth-child(9) {
            margin-left: -112px;
            margin-top: 186px;
            opacity: 0;
            @include animaExpo();
            transition-delay: 750ms;

            h2 {
                left: 36px;
                top: -146px;
                transform: rotate(-60deg);
                opacity: 0;
                @include animaExpo();
                transition-delay: 850ms;
            }
        }

        &:nth-child(10) {
            margin-left: -198px;
            margin-top: 107px;
            opacity: 0;
            @include animaExpo();
            transition-delay: 800ms;

            h2 {
                left: 73px;
                top: -109px;
                transform: rotate(-31deg);
                opacity: 0;
                @include animaExpo();
                transition-delay: 900ms;
            }
        }

        &:nth-child(11) {
            margin-left: -218px;
            margin-top: 0;
            opacity: 0;
            @include animaExpo();
            transition-delay: 850ms;

            h2 {
                left: 88px;
                top: -52px;
                transform: rotate(0deg);
                opacity: 0;
                @include animaExpo();
                transition-delay: 950ms;
            }
        }

        &:nth-child(12) {
            margin-left: -190px;
            margin-top: -110px;
            opacity: 0;
            @include animaExpo();
            transition-delay: 850ms;

            h2 {
                left: 75px;
                top: 1px;
                transform: rotate(30deg);
                opacity: 0;
                @include animaExpo();
                transition-delay: 950ms;
            }
        }

        &:nth-child(13) {
            margin-left: -108px;
            margin-top: -190px;
            opacity: 0;
            @include animaExpo();
            transition-delay: 850ms;

            h2 {
                left: 34px;
                top: 41px;
                transform: rotate(61deg);
                opacity: 0;
                @include animaExpo();
                transition-delay: 950ms;
            }
        }

        h2 {
            color: #333;
            font-size: 12px;
            width: 120px;
            position: relative;
        }
    }
}

section.cards {
    padding: 15px;

    .card {
        background: #fff none repeat scroll 0 0;
        border-radius: 7px;
        padding: 15px;
        position: relative;

        &.principal {
            margin-bottom: 15px;

            #chartdiv {
                height: 400px;
                margin-top: 0;
                width: 100%;

                &.radar {
                    height: 600px;
                }
            }

            h2 {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 15px;
            }
        }

        &.c-infos {
            padding-bottom: 30px;
            width: calc(33.33% - 10px);

            h3 {
                background: #333 none repeat scroll 0 0;
                border-radius: 100px;
                color: #fff;
                display: inline-block;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 10px;
                padding: 3px 10px;

                &.green {
                    background: $green;
                }

                &.pink {
                    background: $pink;
                }

                &.yellow {
                    background: $yellow;
                }
            }

            h2 {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 10px;

                i {
                    background: #333 none repeat scroll 0 0;
                    display: inline-block;
                    height: 20px;
                    margin: 0 5px;
                    width: 2px;
                }
            }

            p {
                color: #777;

                &.fot {
                    bottom: 7px;
                    margin: 0;
                    position: absolute;
                    right: 15px;
                    text-align: right;

                    strong {
                        color: $green;
                        font-family: $fontDIN;
                        font-size: 24px;
                        font-weight: normal;
                        margin-left: 10px;

                        &.pink {
                            color: $pink;

                            i {
                                transform: rotate(180deg);
                            }
                        }

                        i {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    margin-top: 30px;
    padding: 15px;
    position: relative;

    &::before {
        background: #ccc none repeat scroll 0 0;
        bottom: 18px;
        content: "";
        height: 2px;
        left: -15px;
        position: absolute;
        width: 100%;
    }

    .flex {
        margin: 0 auto;
        max-width: 1200px;

        .item {
            position: relative;
            cursor: pointer;

            h2 {
                background: $green none repeat scroll 0 0;
                border-radius: 5px;
                bottom: 0px;
                color: #fff;
                font-size: 12px;
                left: calc(50% - 65px);
                opacity: 0;
                visibility: hidden;
                padding: 5px 7px;
                position: absolute;
                text-align: center;
                width: 130px;
                @include animaExpo();

                &::after {
                    background: $green none repeat scroll 0 0;
                    bottom: -5px;
                    content: "";
                    height: 10px;
                    left: calc(50% - 5px);
                    position: absolute;
                    transform: rotate(45deg);
                    width: 10px;
                    z-index: -1;
                }

            }

            i {
                background: #777 none repeat scroll 0 0;
                border-radius: 100%;
                display: block;
                height: 7px;
                width: 7px;
            }

            strong {
                background: #fff none repeat scroll 0 0;
                border: 1px solid;
                border-radius: 100%;
                bottom: -7px;
                color: $green;
                font-size: 20px;
                height: 20px;
                left: calc(50% - 10px);
                line-height: 5px;
                position: absolute;
                text-align: center;
                width: 20px;
                opacity: 0;
                visibility: hidden;
                @include anima();
            }

            &.ativo,
            &:hover {
                &::before {
                    background: rgba(0, 0, 0, 0) url("../images/linha-ativa.png") no-repeat scroll 0 0;
                    bottom: 3px;
                    content: "";
                    height: 2px;
                    left: calc(50% - 138px);
                    position: absolute;
                    width: 276px;
                }

                h2 {
                    opacity: 1;
                    visibility: visible;
                    bottom: 30px;
                }

                strong {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}